/******************************************************************************
* add-ons
*
* This section is page 3, Add-ons in the step list.
*
******************************************************************************/

@use "../abstracts";

.add-ons__fieldset {
  display: grid;
  width: 100%;
  padding: 0;
  gap: abstracts.pxToRem(12px);
  border: 0;
  margin-top: abstracts.pxToRem(22px);
}

.add-ons__text {
  margin-top: abstracts.pxToRem(22px);
}

.add-ons__name {
  color: var(--theme-plan-name);
}
.add-ons__description {
  color: var(--theme-text-medium);
}
.add-ons__price {
  color: var(--theme-plan-price);
}
