/******************************************************************************
* add-ons
*
* This section is page 3, Add-ons in the step list.
*
******************************************************************************/

.add-ons__fieldset {
  display: grid;
  width: 100%;
  padding: 0;
  gap: pxToRem(12px);
  border: 0;
  margin-top: pxToRem(22px);
}

.add-ons__text {
  margin-top: pxToRem(22px);
}

.add-ons__name {
  color: var(--theme-plan-name);
}
.add-ons__description {
}
.add-ons__price {
  color: var(--theme-plan-price);
}
