.btn {
  user-select: none;
  cursor: pointer;
  background-color: var(--theme-btn-primary-bg);
  color: var(--theme-btn-primary-clr);
  border: 0;
  font-size: pxToRem(18px);
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border-radius: 0.5rem;
}
.btn:focus {
  outline: 2px solid red;
}
.btn:disabled {
  background-color: grey;
}
