/****************************************************************************
 * .btn, .btn--primary, .btn--secondary
 *
 *  Main button classes
 *
 *  Usage:
 *
 *    class=".btn" for a plain, undecorated button (link style)
 *    class=".btn .btn--primary" for a primary, CTA style button
 *    class=".btn .btn--secondary" for an ordinary solid button
 *
 ****************************************************************************/

@use "../abstracts";
@use "../base/typography";

/**
 * .btn
 */
.btn {
  @extend .btn-text;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.25rem;
  border: 0;

  background-color: var(--theme-btn-bg);
  user-select: none;
  cursor: pointer;
}
.btn:focus {
  outline: 2px solid var(--theme-btn-focus);
}
.btn:hover {
  color: var(--theme-btn-hover);
}
.btn:disabled {
  background-color: grey;
}

/**
 * .btn--primary
 */
.btn--primary {
  color: var(--theme-btn-primary-clr);
  background-color: var(--theme-btn-primary-bg);
}
.btn--primary:hover {
  color: var(--theme-btn-primary-clr);
  background-color: var(--theme-btn-primary-hover);
}

/**
 * .btn--secondary
 */
.btn--secondary {
  color: var(--theme-btn-secondary-clr);
  background-color: var(--theme-btn-secondary-bg);
}
.btn--secondary:hover {
  color: var(--theme-btn-secondary-clr);
  background-color: var(--theme-btn-secondary-hover);
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include abstracts.media-breakpoint("tablet") {
  .btn {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 0.5rem;
  }
}
