/******************************************************************************
 * checkbox-card
 *
 *  Style a native checkbox input and label in card format so that there is a
 *  box surrounding the options with the checkbox inside.
 *
 *  <div class="checkbox-card">
 *    <input type="checkbox" id="option-1">
 *    <label for="option-1">
 *      <p>Option description</p>
 *    </label>
 *  </div>
 *
 ******************************************************************************/

/**
 * checkbox-card containing div
 */
.checkbox-card {
  position: relative;
  display: grid;
  justify-content: start;
  width: 100%;
  height: 62px;
}

/**
 * input
 */
.checkbox-card input {
  margin-left: 1.5rem;
  transform: scale(1.54);
  z-index: 2;
  cursor: pointer;
  outline: 0;
}

/**
 * label - unchecked state
 */
.checkbox-card label {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  row-gap: 0.1875rem;
  inset: 0;
  padding-left: 4rem;
  padding-right: 1rem;
  padding-block: 0.75rem;
  border: 1px solid;
  border-color: var(--theme-checkbox-card-border);
  border-radius: 0.5rem;
  cursor: pointer;
}
.checkbox-card > input:focus + label {
  outline: 1px solid;
  outline-color: var(--theme-checkbox-card-checked-border);
}

/**
 * label - checked state
 */
.checkbox-card > input:checked + label {
  border-color: var(--theme-checkbox-card-checked-border);
  background-color: var(--theme-checkbox-card-checked-bg);
}

.checkbox-card span {
  display: block;
}
.checkbox-card span:last-of-type {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
}
