@charset "UTF-8";

// 1. Abstract
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

// 2. Vendor
@import "vendor/vendor";

// 3. Base
@import "base/reset";
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/icons";
@import "base/helpers";

// 4. Layout
@import "layout/layout";
@import "layout/signup-form";
@import "layout/wizard-form";

// 5. Components
@import "components/btn";
@import "components/components";
@import "components/toggle-switch";

// 6. Page-specific styles
@import "pages/index";

// 7. Themes
@import "themes/light";
@import "themes/default";
