/*****************************************************************************
 * base
 *
 *  Foundational initialization of core elements.
 *
 *****************************************************************************/

/**
 * body
 */
body {
  display: grid;
  align-content: flex-start;

  font-family: $ff-base;
  font-weight: $fw-regular;
  font-size: 1rem;
  line-height: 1.667;
  color: var(--theme-text-regular);
  background-color: var(--theme-bg);
  background-image: url("/assets/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/**
 * img
 */
img {
  width: 100%;
}

/**
 * ul
 */
ul {
  list-style: none;
  padding: 0;
}

.attribution {
  position: absolute;
  bottom: 1rem;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("tablet") {
  body {
    background-image: none;
    align-content: center;
    place-items: center;
  }
}
