/*****************************************************************************
 * fonts
 *
 *  Font definitions used throughout the site.  Note that fonts files are
 *  located in assets/fonts.
 *
 *****************************************************************************/

@use "../abstracts";

/**
 * Ubuntu Regular, fixed-weight font
 */
@font-face {
  font-family: abstracts.$font-base;
  font-style: normal;
  font-weight: abstracts.$fw-regular;
  src: local(abstracts.$font-base),
    url("/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
}

/**
 * Ubuntu Medium, fixed-weight font
 */
@font-face {
  font-family: abstracts.$font-base;
  font-style: normal;
  font-weight: abstracts.$fw-medium;
  src: local(abstracts.$font-base),
    url("/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-display: swap;
}

/**
 * Ubuntu Bold, fixed-weight font
 */
@font-face {
  font-family: abstracts.$font-base;
  font-style: normal;
  font-weight: abstracts.$fw-bold;
  src: local(abstracts.$font-base),
    url("/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-display: swap;
}
