/*****************************************************************************
 * icons 
 *
 *  Definitions for various svg icons used throughout the site.
 *
 *****************************************************************************/

/**
 * .icon
 *
 *  utility class to define clickable svg icon behavior.  Note this is
 *  located with the individual icons due to BEM naming consistency.
 */
.icon {
  user-select: none;
  cursor: pointer;
  transition: 150ms ease-in-out; /* soften hover transition, not so abrupt */

  fill: currentcolor;
}
.icon:hover {
  fill: var(--theme-hover-highlight);
}

/**
 * .icon--thank-you
 *
 *  Thankyou illustration
 */
.icon--thank-you {
  width: 56px;
  height: 56px;
}

/**
 * .icon--arcade
 *
 *  Arcade Icon
 */
.icon--arcade {
  width: 40px;
  height: 40px;
}

/**
 * .icon--advanced
 *
 *  Advanced
 */
.icon--advanced {
  width: 40px;
  height: 40px;
}

/**
 * .icon--pro
 *
 * Pro
 */
.icon--pro {
  width: 40px;
  height: 40px;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include media-breakpoint("tablet") {
  /**
 * .icon--thank-you
 *
 *  Thankyou illustration
 */
  .icon--thank-you {
    width: 80px;
    height: 80px;
  }
}
