/*****************************************************************************
 * typography
 *
 *  Type hierarchy for the site.
 *
 *****************************************************************************/

@use "../abstracts";

/*---------------------------------------------------------------------------
 * Default and mobile typography
 *--------------------------------------------------------------------------*/

@mixin regular-text-properties {
  font-family: abstracts.$ff-base;
  font-weight: abstracts.$fw-bold;
  font-size: abstracts.pxToRem(14px);
  line-height: abstracts.pxLineHeight(14px, 17px);
  color: var(--theme-text-regular);
}

@mixin input-text-properties {
  font-family: abstracts.$ff-base;
  font-weight: abstracts.$fw-medium;
  font-size: abstracts.pxToRem(15px);
  line-height: abstracts.pxLineHeight(15px, 17px);
  color: var(--theme-text-regular);
}

@mixin input-label-text-properties {
  font-family: abstracts.$ff-base;
  font-weight: abstracts.$fw-regular;
  font-size: abstracts.pxToRem(12px);
  line-height: abstracts.pxLineHeight(12px, 14px);
  color: var(--theme-input-label-clr);
}

/**
 * Hero Section Title - Next generation digital banking
 */
.heading--1 {
  font-family: abstracts.$ff-base;
  font-weight: abstracts.$fw-bold;
  font-size: abstracts.pxToRem(24px);
  line-height: abstracts.pxLineHeight(24px, 29px);
  text-align: left;
  color: var(--theme-text-dark);
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include abstracts.media-breakpoint("tablet") {
  %input-text-properties {
    font-family: abstracts.$ff-base;
    font-weight: abstracts.$fw-medium;
    font-size: abstracts.pxToRem(16px);
    line-height: 1;
    color: var(--theme-text-regular);
  }
  %input-label-text-properties {
    font-size: abstracts.pxToRem(14px);
    line-height: abstracts.pxLineHeight(14px, 16px);
  }
}
