/*****************************************************************************
 * variables
 *
 *  Global settings used across the site.
 *
 *****************************************************************************/

@use "sass:map";

/// Container
$container-max-width: 1110px !default;
$container-margin: 1rem !default;

/// Gradients

/// Colors

$clr-neutral-100: hsl(0, 0%, 100%); // white
$clr-neutral-200: hsl(231, 100%, 99%); // very light grey
$clr-neutral-300: hsl(229, 24%, 87%); // light grey
$clr-neutral-400: hsl(231, 11%, 63%); // grey

$clr-primary-100: hsl(217, 100%, 97%); // background
$clr-primary-300: hsl(206, 94%, 87%); // sky blue?
$clr-primary-400: hsl(228, 100%, 84%); // light blue
$clr-primary-700: hsl(213, 72%, 31%);
$clr-primary-800: hsl(213, 96%, 18%); // denim

$clr-accent-red: hsl(354, 84%, 57%); // red accent
$clr-accent-pink: hsl(354, 91%, 74%); // pink accent
$clr-accent-orange: hsl(23, 100%, 75%); // orange accent
$clr-accent-purple: hsl(243, 100%, 62%); // purple
$clr-accent-light-purple: hsl(243, 100%, 77%);

/// Font Characteristics
$font-base: "Ubuntu" !default;
$ff-base: $font-base, sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
) !default;
