/*****************************************************************************
 * theme light
 *
 *****************************************************************************/

@use "sass:color";
@use "../abstracts";

@mixin theme---light {
  --theme-text-regular: #{abstracts.$clr-neutral-400};
  --theme-text-dark: #{abstracts.$clr-primary-800};
  --theme-text-light: #{abstracts.$clr-neutral-100};
  --theme-text-medium: #{abstracts.$clr-neutral-400};
  --theme-text-accent: #{abstracts.$clr-accent-purple};
  --theme-bg: #{abstracts.$clr-primary-100};

  --theme-accent-red: #{abstracts.$clr-accent-red};

  //
  // .btn, .btn--primary, .btn--secondary
  //
  --theme-btn-bg: transparent;
  --theme-btn-clr: #{abstracts.$clr-neutral-400};
  --theme-btn-focus: #{abstracts.$clr-accent-orange};
  --theme-btn-hover: #{abstracts.$clr-primary-800};
  --theme-btn-primary-clr: #{abstracts.$clr-primary-100};
  --theme-btn-primary-bg: #{abstracts.$clr-accent-purple};
  --theme-btn-primary-hover: #{abstracts.$clr-accent-light-purple};
  --theme-btn-secondary-bg: #{abstracts.$clr-primary-800};
  --theme-btn-secondary-clr: #{abstracts.$clr-primary-100};
  --theme-btn-secondary-hover: #{abstracts.$clr-primary-700};

  //
  // .input, .input--error
  //
  --theme-input-border: #{abstracts.$clr-neutral-300};
  --theme-input-focus: #{abstracts.$clr-accent-purple};
  --theme-input-error: #{abstracts.$clr-accent-red};
  --theme-input-clr: #{abstracts.$clr-primary-800};
  --theme-input-label-clr: #{abstracts.$clr-primary-800};
  --theme-input-placeholder: #{abstracts.$clr-neutral-400};

  //--theme-slider-bg: #{$clr-primary-800};
  --theme-slider-thumb: #{abstracts.$clr-neutral-100};
  --theme-slider-focus: #{abstracts.$clr-accent-orange};
  --theme-slider-hover: linear-gradient(
    135deg,
    #{abstracts.$clr-primary-800},
    #{abstracts.$clr-primary-800}
  );

  //--theme-signup-bg: linear-gradient(#{$clr-neutral-100}, #{$clr-primary-800});
  --theme-slider-bg: linear-gradient(
    135deg,
    #{abstracts.$clr-primary-800},
    #{abstracts.$clr-primary-800}
  );

  --theme-signup-bg: #{abstracts.$clr-neutral-100};

  --theme-wizard-step-clr: #{abstracts.$clr-primary-100};
  --theme-wizard-step-label: #{abstracts.$clr-primary-400};
  --theme-wizard-step-active: #{abstracts.$clr-primary-800};
  --theme-wizard-step-active-bg: #{abstracts.$clr-primary-300};

  --theme-radio-card-border: #{abstracts.$clr-neutral-300};
  --theme-radio-card-hover-border: #{abstracts.$clr-accent-purple};
  --theme-radio-card-checked-bg: #{abstracts.$clr-neutral-200};
  --theme-radio-card-checked-border: #{abstracts.$clr-accent-purple};

  --theme-checkbox-card-border: #{abstracts.$clr-neutral-300};
  --theme-checkbox-card-hover-border: #{abstracts.$clr-accent-purple};
  --theme-checkbox-card-checked-bg: #{abstracts.$clr-neutral-200};
  --theme-checkbox-card-checked-border: #{abstracts.$clr-accent-purple};

  --theme-plan-name: #{abstracts.$clr-primary-800};
  --theme-plan-price: #{abstracts.$clr-accent-purple};
  --theme-plan-dark: #{abstracts.$clr-primary-800};
  --theme-plan-light: #{abstracts.$clr-primary-300};

  --theme-summary-detail-bg: #{abstracts.$clr-neutral-200};
  --theme-summary-hr: #{abstracts.$clr-neutral-300};
}

.theme--light {
  @include theme---light;
}
