/*****************************************************************************
 * theme light
 *
 *****************************************************************************/

@use "sass:color";

@mixin theme---light {
  --theme-text-regular: #{$clr-neutral-400};
  --theme-text-dark: #{$clr-primary-800};
  --theme-bg: #{$clr-primary-100};

  --theme-accent-red: #{$clr-accent-red};
}

.theme--light {
  @include theme---light;
}
